<nav class="nav nav-custom bg-4 fixed-top justify-content-between" #nav>
  <div class="nav-item p-2">
    <a routerLink="/" class="btn"
      ><h5 class="text-light mt-2"><i class="fa-solid fa-skull tc-2"></i> Lotus Legacy</h5></a
    >
  </div>
  <div class="nav-item">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-lg border-0 mt-2" ngbDropdownToggle>
        <img
          [src]="langSelect === 'es' ? '/imgs/flag-spanish.png' : '/imgs/flag-united-states.png'"
          alt=""
          class="img-fluid"
          style="max-width: 30px"
        />
      </button>
      <div ngbDropdownMenu class="bg-4">
        <button ngbDropdownItem class="tc-1" (click)="clickChangeLang('es')">
          <img src="/imgs/flag-spanish.png" alt="" class="img-fluid" style="max-width: 30px" />
          {{ 'nav.langages-btns.es' | transloco }}
        </button>
        <button ngbDropdownItem class="tc-1" (click)="clickChangeLang('en')">
          <img
            src="/imgs/flag-united-states.png"
            alt=""
            class="img-fluid"
            style="max-width: 30px"
          />
          {{ 'nav.langages-btns.en' | transloco }}
        </button>
      </div>
    </div>
    <button type="button" (click)="openMenu(menu)" class="btn btn-lg border-0 mt-2">
      <i class="fa-solid fa-bars tc-1"></i>
    </button>
  </div>
</nav>
<ng-template #menu let-modal>
  <div class="modal-body bg-4 text-light">
    <button type="button" (click)="modal.close()" class="btn rounded-circle float-end border-0">
      <i class="fa-solid fa-x tc-1"></i>
    </button>
    <h1><i class="fa-solid fa-bars tc-1"></i> {{ 'nav.menu.title' | transloco }}</h1>
    <div class="container py-5">
      <div class="list-group mt-5">
        <button
          routerLink="/inicio"
          (click)="modal.close()"
          routerLinkActive="tc-1"
          class="list-group-item h2 border-0 text-center bg-4 text-light"
        >
          <i class="fa-solid fa-house tc-1"></i> {{ 'nav.menu.btns.home' | transloco }}
        </button>
        <button
          routerLink="/members"
          (click)="modal.close()"
          routerLinkActive="tc-1"
          class="list-group-item h2 border-0 text-center bg-4 text-light"
        >
          <i class="fa-solid fa-users tc-1"></i> {{ 'nav.menu.btns.members' | transloco }}
        </button>
        <button
          routerLink="/tier-lists"
          (click)="modal.close()"
          routerLinkActive="tc-1"
          class="list-group-item h2 border-0 text-center bg-4 text-light"
        >
          <i class="fa-solid fa-list tc-1"></i> Tier Lists
        </button>
      </div>
    </div>
  </div>
</ng-template>
